@media screen and (max-width:1200px) {
    :root {
        --color-white: #FFFFFF;
        --color-green: #01AC6A;
        --color-blue: #664EFE;
        --color-gray: #394445;
        --color-black: #1C1917;
        --color-yellow: #FDE047;
        --color-dark: #292524;
        --color-lactic: #FFECBB;
        --color-pink: #C084FC;
        --color-bg: #CDF3F3;
        --color-red: #B80C09;

        --size-hero-heading: 75px;

        --size-text-large: 40px;
        --size-text-big: 30px;
        --size-text: 20px;
        --size-text-small: 16px;

        --size-heading-big: 130px;
        --size-heding: 90px;
        --size-heading-small: 60px;
    }
}

@media screen and (max-width:1100px) {
    :root {
        --size-hero-heading: 75px;

        --size-text-large: 40px;
        --size-text-big: 30px;
        --size-text: 20px;
        --size-text-small: 16px;

        --size-heading-big: 130px;
        --size-heding: 90px;
        --size-heading-small: 60px;
    }
}

@media screen and (max-width:1000px) {
    :root {
        --size-hero-heading: 75px;

        --size-text-large: 40px;
        --size-text-big: 30px;
        --size-text: 20px;
        --size-text-small: 16px;

        --size-heading-big: 130px;
        --size-heding: 90px;
        --size-heading-small: 60px;
    }

    .header_item:nth-child(2) {
        position: fixed;
        top: 110px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: var(--color-white);
        z-index: 100;
        padding: 0 4%;
    }

    .header_item:nth-child(3) {
        display: block;
    }

    .header_inner_list {
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        height: 100vh;
    }

    .header_item:nth-child(1) {
        z-index: 1000;
    }

    .header_inner_item {
        margin: 15px 0;
    }

    .header_lang_wrapper a:nth-child(1) {
        color: var(--color-black);
        border: 2px solid var(--color-green);
        padding: 4px;
    }

    .header_lang_wrapper a:nth-child(2) {
        margin-left: 0;
        opacity: 0.6;
        padding: 4px;
        border: 2px solid transparent;
    }

    .header_item:nth-child(1) {
        width: 50%;
    }

    .header_item:nth-child(3) {
        width: 50%;
        display: flex;
        justify-content: end;
        align-items: end;
    }

    .header_lang_wrapper {
        margin-top: 54px;
        margin-bottom: 30px;
    }

    .header_btn {
        display: none;
    }

    .header_numbers {
        display: block;
    }

    .header_text {
        position: relative;
        top: 50px;
        left: 0;
        display: block;
        font-size: 12px;
    }

    .header_numbers a,
    .header_numbers {
        font-size: 16px;
    }
}

@media screen and (max-width:900px) {
    :root {
        --size-hero-heading: 75px;

        --size-text-large: 40px;
        --size-text-big: 30px;
        --size-text: 20px;
        --size-text-small: 16px;

        --size-heading-big: 130px;
        --size-heding: 90px;
        --size-heading-small: 60px;
    }
}

@media screen and (max-width:800px) {
    :root {
        --size-hero-heading: 73px;

        --size-text-large: 40px;
        --size-text-big: 30px;
        --size-text: 20px;
        --size-text-small: 16px;

        --size-heading-big: 120px;
        --size-heding: 85px;
        --size-heading-small: 60px;
    }
}

@media screen and (max-width:700px) {
    :root {
        --size-hero-heading: 71px;

        --size-text-large: 40px;
        --size-text-big: 30px;
        --size-text: 20px;
        --size-text-small: 16px;

        --size-heading-big: 110px;
        --size-heding: 80px;
        --size-heading-small: 56px;
    }
}

@media screen and (max-width:600px) {
    :root {
        --size-hero-heading: 69px;

        --size-text-large: 38px;
        --size-text-big: 29px;
        --size-text: 20px;
        --size-text-small: 16px;

        --size-heading-big: 100px;
        --size-heding: 75px;
        --size-heading-small: 52px;
    }
}

@media screen and (max-width:500px) {
    :root {
        --size-hero-heading: 67px;

        --size-text-large: 36px;
        --size-text-big: 28px;
        --size-text: 20px;
        --size-text-small: 16px;

        --size-heading-big: 90px;
        --size-heding: 70px;
        --size-heading-small: 58px;
    }
}

@media screen and (max-width:400px) {
    :root {
        --size-hero-heading: 65px;

        --size-text-large: 34px;
        --size-text-big: 26px;
        --size-text: 20px;
        --size-text-small: 16px;

        --size-heading-big: 80px;
        --size-heding: 55px;
        --size-heading-small: 54px;
    }
}

@media screen and (max-width:300px) {
    :root {
        --size-hero-heading: 60px;

        --size-text-large: 32px;
        --size-text-big: 30px;
        --size-text: 20px;
        --size-text-small: 16px;

        --size-heading-big: 70px;
        --size-heding: 50px;
        --size-heading-small: 50px;
    }
}